:root {
    --grid-size: 10;
    --element-size: 3rem
}

h1 {
    text-align: center;
}

button {
    width: fit-content;
    align-self: center;
}

dialog {
    height: 100vh;
}

#gamebaord-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--grid-size) * var(--element-size)), 1fr));
    justify-items: center;
    row-gap: var(--element-size);
    column-gap: calc(var(--element-size) * 1.5);
}

.grid-and-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.grid-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.gameboard-grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), var(--element-size));
    grid-template-rows: repeat(var(--grid-size), var(--element-size));
}

.grid-element {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.valid-ship-placement {
    background-color: #4dffa6;
}

.invalid-ship-placement {
    background-color: #ff8080;
}

.ship-placed {
    background-color: #808080;
}

.circle {
    height: 50%;
    width: 50%;
    border-radius: 50%;
}

.circle.hit {
    background-color: red;
}

.circle.miss {
    background-color: black;
}