:root {
    --grid-size: 10;
    --element-size: 3rem
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--grid-size) * var(--element-size)), 1fr));
    justify-items: center;
    row-gap: var(--element-size);
    column-gap: calc(var(--element-size) * 1.5);
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), var(--element-size));
    grid-template-rows: repeat(var(--grid-size), var(--element-size));
}

.grid-element {
    border: 1px solid black;
}